-------

아이리스 예제를 회귀문제로 (sepal length 예측)<br>
클래스를 지우고 뒤에 3개를 가지고 앞에 1를 예측하기, class는 걍 버리고

In [4]:
import numpy as np

import pandas as pd

import seaborn as sns

In [5]:
file_path = 'C:/Users/7kingdom/Documents/인공지능개론/src/iris/iris.data'

#class = Iris Setosa, Iris Versicolour, Iris Virginica
column_names = ["sepal length in cm", "sepal width in cm", "petal length in cm", "petal width in cm", "class"]          

df = pd.read_csv(file_path, header=None, names=column_names)

df.head(10)

,sepal length in cm,sepal width in cm,petal length in cm,petal width in cm,class
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa
5,5.4,3.9,1.7,0.4,Iris-setosa
6,4.6,3.4,1.4,0.3,Iris-setosa
7,5.0,3.4,1.5,0.2,Iris-setosa
8,4.4,2.9,1.4,0.2,Iris-setosa
9,4.9,3.1,1.5,0.1,Iris-setosa

In [7]:
RG_df = df.drop('class',axis=1)
RG_df.head()

,sepal length in cm,sepal width in cm,petal length in cm,petal width in cm
0,5.1,3.5,1.4,0.2
1,4.9,3.0,1.4,0.2
2,4.7,3.2,1.3,0.2
3,4.6,3.1,1.5,0.2
4,5.0,3.6,1.4,0.2

In [8]:
RG_X = RG_df.drop('sepal length in cm', axis=1)
RG_X.head(5)

   sepal width in cm  petal length in cm  petal width in cm
0                3.5                 1.4                0.2
1                3.0                 1.4                0.2
2                3.2                 1.3                0.2
3                3.1                 1.5                0.2
4                3.6                 1.4                0.2

In [12]:
RG_y = RG_df['sepal length in cm']
RG_y.head()

0    5.1
1    4.9
2    4.7
3    4.6
4    5.0
Name: sepal length in cm, dtype: float64

In [13]:
from sklearn.model_selection import train_test_split

RG_X_train, RG_X_test, RG_y_train, RG_y_test=train_test_split(RG_X, RG_y, test_size=0.2, shuffle=True, random_state=12)
print(RG_X_train.shape, RG_y_train.shape)
print(RG_X_test.shape, RG_y_test.shape)

(120, 3) (120,)
(30, 3) (30,)

-------

In [14]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

model = LinearRegression()
model.fit(RG_X_train, RG_y_train)
ly_preds = model.predict(RG_X_test)

print("선형 회귀 ")
print('평균제곱근오차', mean_squared_error(ly_preds, RG_y_test))

선형 회귀
평균제곱근오차 0.12258277546894883

In [15]:
from sklearn.tree import DecisionTreeRegressor

model = DecisionTreeRegressor()
model.fit(RG_X_train, RG_y_train)

from sklearn.metrics import mean_squared_error

dy_preds = model.predict(RG_X_test)

print("디시전 트리")
print('평균제곱근오차', mean_squared_error(dy_preds, RG_y_test))

디시전 트리
평균제곱근오차 0.21050000000000005

In [16]:
from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor()
model.fit(RG_X_train, RG_y_train)

from sklearn.metrics import mean_squared_error

ry_preds = model.predict(RG_X_test)

print("랜덤포레스트")
print('평균제곱근오차', mean_squared_error(ry_preds, RG_y_test))

랜덤포레스트
평균제곱근오차 0.11724497471296283

In [17]:
from sklearn.neighbors import KNeighborsRegressor
from sklearn.datasets import make_regression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error


k = 5  # 이웃의 수 설정
knn_regressor = KNeighborsRegressor(n_neighbors=k)

knn_regressor.fit(RG_X_train, RG_y_train)

y_pred = knn_regressor.predict(RG_X_test)


# 모델 성능 평가 (예시로 평균 제곱 오차 사용)
print("KNN")
mse = mean_squared_error(y_pred, RG_y_test)
print("평균제곱근오차:", mse)

KNN
평균제곱근오차: 0.11684000000000012